[submodule "base-port-windows"]
	path = base-port-windows
	url = ../base-port-windows
[submodule "base"]
	path = base
	url = ../base-port-windows
[submodule "common"]
	path = common
	url = ../common-port
[submodule "graphics"]
	path = graphics
	url = ../graphics-port
	branch = main
